In [1]:
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

In [2]:
start = datetime.datetime(2015, 1, 1)
end = datetime.datetime(2016, 1, 1)

In [3]:
# Bank of America
BAC = data.DataReader("BAC", 'iex', start, end)

# CitiGroup
C = data.DataReader("C", 'iex', start, end)

# Goldman Sachs
GS = data.DataReader("GS", 'iex', start, end)

# JPMorgan Chase
JPM = data.DataReader("JPM", 'iex', start, end)

# Morgan Stanley
MS = data.DataReader("MS", 'iex', start, end)

# Wells Fargo
WFC = data.DataReader("WFC", 'iex', start, end)

In [4]:
tickers = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']

In [5]:
bank_stocks = pd.concat([BAC, C, GS, JPM, MS, WFC], axis=1, keys=tickers)

In [6]:
bank_stocks.columns.names = ['Bank Ticker','Stock Info']

In [7]:
bank_stocks.head()

Bank Ticker      BAC                                              C           \
Stock Info      open     high      low    close     volume     open     high
date
2015-01-02   16.8293  16.8667  16.5394  16.7451   48951133  51.4258  51.7380
2015-01-05   16.6375  16.6609  16.1745  16.2587  105605485  51.0001  51.0474
2015-01-06   16.2961  16.3148  15.6974  15.7722  144912399  49.8365  49.9216
2015-01-07   16.0342  16.0716  15.7816  15.8471  104603795  48.7296  48.7675
2015-01-08   16.0529  16.2213  15.9967  16.1745   73388499  48.9756  49.2688

Bank Ticker                                ...          MS                    \
Stock Info       low    close    volume    ...        open     high      low
date                                       ...
2015-01-02   50.8865  51.3312  11139757    ...     35.7620  35.8535  35.0293
2015-01-05   49.5054  49.7135  20945436    ...     35.2216  35.3407  34.0448
2015-01-06   47.8025  47.9633  31989329    ...     34.3150  34.3791  33.0237
2015-01-07   47.8829  48.4080  27890770    ...     33.8205  33.9304  33.5183
2015-01-08   48.7202  49.1364  17470338    ...     34.1502  34.5806  34.1502

Bank Ticker                         WFC
Stock Info     close    volume     open     high      low    close    volume
date
2015-01-02   35.4506   7333790  48.6784  48.7491  47.8689  48.3163  11700856
2015-01-05   34.3425  12507930  47.8216  48.0159  46.9030  46.9913  15000528
2015-01-06   33.3534  16507812  47.1238  47.2298  45.7989  46.0109  20211187
2015-01-07   33.8296   9957727  46.4878  46.4967  46.0285  46.2847  15714655
2015-01-08   34.3333   8079561  46.8147  47.3314  46.7793  47.3093  16721579

[5 rows x 30 columns]